# Ignorer les dépendances Composer
/vendor/
composer.lock

# Ignorer les fichiers d'environnement
.env
.env.*

# Caches et logs
*.log
.cache/
tmp/
*.tmp

# IDE / éditeurs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Systèmes d’exploitation
.DS_Store
Thumbs.db

# PHPUnit
.phpunit.result.cache
coverage/

# Fichiers temporaires
*.bak
*.swp
*.orig
